.g-logo{
    margin-right: auto;
    margin-left: .5em;
}
.g-logo > img{
    width: 8em;
}
.g-layout{
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.g-layout > *{
    width: 100%;
    height: 100%;
}
.g-layout_form-sec{
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.g-form{
    /* background-color: yellow; */
    width: 90%;
    /* min-height: 75%; */
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

.g-form_head-line{
    color: var(--light-blue);
    font-weight: bold;
}

.g-form_sub-head-line{
    color: var(--light-green);
    font-size: .8em;
    font-weight: 500;
    margin-top: 1em;
}


.g-form-btn{
    width: 20em;
    padding: .2em;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0.4em;
    font-weight: lighter;
    cursor: pointer;
    padding: .7em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
}
.g-google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-blue);
}
.google-btn-icon{
    width: 1.5em;
    margin: 0 5px;
}
.g-form-btn_dark-blue{
    background: var(--light-blue);
    color: var(--gray);
}

.g-layout_picture-sec{
    display: grid;
    place-content: center;
}
.g-layout_picture{
    width: 20em;
    height: 25em;
    width: 25em;
    height: 30em;
    
    border-radius: 3px 17px;
}

.g-form-link{
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 400;
    font-size: .9em;
    cursor: pointer;
}



.g-input-double-box > .g-input-form-box{
    width: 40%;
}
.g-input-double-box > .g-input-form-box > .g-input-form{
    width: 9.5em;
    
}
.g-input-double-box > .g-input-form-box:last-of-type{
    margin-left: 1em;
}

.g-input-form-box{
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 0.8em;
}
.g-input-label{
    font-size: .8em;
    font-weight: 700;
    color: var(--dark-blue);
}
.g-input-form{
    width: 20em;
    padding: .2em;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    /* margin: 0.4em; */
    font-weight: lighter;
    padding: .7em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--gray);
}

.g-input-double-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20em;
}

/* user layout */

.user-layout{
    width: 100dvw;
    height: 100dvh;
}

.user-section{
    width: 100dvw;
    height: 100dvh;
}

.main-landing-sec{

}
.main-landing-sec.with-header{
    display: grid;
    grid-template-rows: 4em 1fr; 
    
}

.grid-two-col{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.main-landing_header > .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-landing_header > .container > .loging-btn{
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-landing_header > .container > .loging-btn > .log-in-btn{
    width: auto;
    background-color: var(--light-blue);
    color: var(--white);
}
.main-landing_header > .container > .loging-btn > .sign-up-btn{
    width: auto;
    color: var(--light-blue);
}





@media (max-width: 768px) {
    .g-layout{
        grid-template-columns: 1fr;
    }
    .g-layout_picture-sec{
        display: none;
    }
}