.g-logo{
    margin-right: auto;
    margin-left: -1em;
}
.g-logo > img{
    width: 8em;
}
.g-layout{
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.g-layout > *{
    width: 100%;
    height: 100%;
}
.g-layout_form-sec{
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.g-form{
    /* background-color: yellow; */
    width: 90%;
    /* min-height: 75%; */
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

.g-form_head-line{
    color: var(--light-blue);
    font-weight: bold;
}

.g-form_sub-head-line{
    color: var(--light-green);
    font-size: .8em;
    font-weight: 500;
    margin-top: 1em;
}


.g-form-btn{
    width: 20em;
    padding: .2em;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0.4em;
    font-weight: lighter;
    cursor: pointer;
    padding: .7em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
}
.g-form-btn.auto-width{
    width: auto;
}


.g-form-btn.auto-width.main-landing{
    margin: 0.5em;
}
.g-form-btn.auto-width.main-landing.fb{
    background: var(--light-blue);
    color: var(--white);
}
.g-form-btn.auto-width.main-landing.sb{
    color: var(--light-blue);
}

.g-google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-blue);
}
.google-btn-icon{
    width: 1.5em;
    margin: 0 5px;
}
.g-form-btn_dark-blue{
    background: var(--light-blue);
    color: var(--gray);
}

.g-layout_picture-sec{
    display: grid;
    place-content: center;
}
.g-layout_picture{
    width: 20em;
    height: 25em;
    width: 25em;
    height: 30em;
    
    border-radius: 3px 17px;
}

.g-form-link{
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 400;
    font-size: .9em;
    cursor: pointer;
}



.g-input-double-box > .g-input-form-box{
    width: 40%;
}
.g-input-double-box > .g-input-form-box > .g-input-form{
    width: 9.5em;
    
}
.g-input-double-box > .g-input-form-box:last-of-type{
    margin-left: 1em;
}

.g-input-form-box{
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 0.8em;
}
.g-input-label{
    font-size: .8em;
    font-weight: 700;
    color: var(--dark-blue);
}
.g-input-form{
    width: 20em;
    padding: .2em;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    /* margin: 0.4em; */
    font-weight: lighter;
    padding: .7em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--gray);
}

.g-input-double-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20em;
}

/* user layout */

.user-layout{
    width: 100dvw;
    height: 100dvh;
}

.user-section{
    width: 100dvw;
    height: 100dvh;
}

.main-landing-sec{
    
}
.main-landing-sec.with-header{
    display: grid;
    grid-template-rows: 4em 1fr; 
    
}
.main-landing-sec.sec-1 .text-box{
    display: flex
    ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-landing-sec.sec-1 .text-box .head-line{
    font-size: 1.8em;
    font-weight: bold;
    color: var(--light-blue);
    margin: .5em 0;
    width: 90%;
}
.main-landing-sec.sec-1 .text-box .sub-head-line{
    font-size: .8em;
    color: #7F8CAA;
    font-weight: 300;
    margin: .5em 0;
    opacity: .7;
    width: 90%;
}



.main-landing-sec.sec-1 .img-box{
    display: grid;
    place-content: center;
}
.main-landing-sec.sec-1 .img-box > img{
    width: 20em;
}

.main-landing-sec.sec-1 .box-btn{
    width: 90%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.grid-two-col{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.grid-center{
    display: grid;
    place-content: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-landing_header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-landing_header > .container > .loging-btn{
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-landing_header > .container > .loging-btn > .log-in-btn{
    width: auto;
    background-color: var(--light-blue);
    color: var(--white);
}
.main-landing_header > .container > .loging-btn > .sign-up-btn{
    width: auto;
    color: var(--light-blue);
}

/* sec 2 */
.main-landing-sec-2{
    
}
.main-landing-sec-2 > .container{
    width: 80%;
    height: 50%;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 1em;
    display: flex
    ;
    flex-direction: column;
    justify-content: flex-start;
}
.main-landing-sec-2 > .container > .sub-head-line{
    font-size: .8em;
    color: #7F8CAA;
    font-weight: 300;
    margin: .5em 0;
    opacity: .7;
    width: 90%;
}
.main-landing-sec-2 > .container > .head-line{
    font-size: 1.6em;
    font-weight: bold;
    color: var(--dark-blue);
    margin: .5em 0;
    width: 90%;
}
.main-landing-sec-2 > .container > .feature-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
}
.main-landing-sec-2 > .container > .feature-box > .feature-box{
    /* width: 10em; */
    /* min-height: 10em; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: .5em;
    border-radius: 10px;
}
.main-landing-sec-2 > .container > .feature-box > .feature-box > .icon{
    width: 1em;
}
.main-landing-sec-2 > .container > .feature-box > .feature-box > .title{
    font-size: .7em;
    font-weight: bold;
    color: var(--dark-blue);
    margin: .8em 0;
}
.main-landing-sec-2 > .container > .feature-box > .feature-box > .desc{
    font-size: .7em;
    font-weight: 100;
    color: var(--dark-blue);
    margin: .8em 0;
    opacity: .8;
}

.section-head-line{
    width: 100%;
    height: 4em;
    position: relative;
    text-align: center;
}
.section-head-line > .sub-head-line{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .7em;
    color: var(--light-blue);
    width: 100%;
}
.section-head-line > .head-line{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.4em;
    font-weight: bold;
    color: var(--dark-blue);
    width: 100%;
}

.user-section.sec-3{}
.user-section.sec-3 > .container > .body{
    height: 80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.user-section.sec-3 > .container > .body > p{
    margin: .5em;
    font-size: .9em;
}
.user-section.sec-3 > .container > .body > .title{
    font-size: 1.4em;
    color: var(--light-blue);
    font-weight: 500;
}

.user-section.sec-4{}
.user-section.sec-4 .service-box{
    width: 100%;
    height: calc(100% - 4em);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.landing-service-card{
    width: 9em;
    height: 10em;
    background-color: var(--gray);
    border-radius: 10px;
    display: flex
;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 1em;
    padding: 10px;
    font-size: 18px;
}
.landing-service-card_img{
    width: 7em;
}
.landing-service-card_label{
    font-size: 1em;
    font-weight: bold;
    color: var(--light-blue);
}

@media (max-width: 768px) {
    .g-layout{
        grid-template-columns: 1fr;
    }
    .g-layout_picture-sec{
        display: none;
    }
    .grid-two-col{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .main-landing-sec.sec-1 .img-box{
        grid-row: 1/2;
    }
    .main-landing-sec.sec-1 .img-box > img{
        width: 16em;
    }
    .main-landing-sec.sec-1 .text-box{
        text-align: center;
        font-size: 13px;
    }
    .main-landing-sec.sec-1 .box-btn{
        justify-content: center;
    }
    .main-landing-sec-2 > .container{
        width: 100%;
        height: auto;
        padding: 0 10px;
        border-radius: none;
    }
    .main-landing-sec-2 > .container > .feature-box{
    flex-wrap: wrap;
    }
    .user-section.sec-4 .service-box{
        flex-direction: column;
    }
}