*{
    margin: 0;
    padding: 0;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white: #FFFFFF;
    --dark-blue: #333446;
    --light-blue: #7F8CAA;
    --light-green: #B8CFCE;
    --gray: #EAEFEF;
    --black: #000000;

    
}

#root{
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    font-family: sans-serif;
}





.container{
    margin: 0 auto;
    height: 100%;
}



.mobile{
    display: none !important;
}


.img-system{
    width: 15em;
}

@media (min-width: 1000px) {
    .container{
        width: 900px;
    }
}
@media (max-width: 1000px) {
    .container{
        width: 768px;
    }
}
@media (max-width: 768px) {
    .container{
        width: 550px;
    }
    .pc{
        display: none !important;
    }
    
    .mobile{
        display: initial !important;
    }
    .mobile.flex{
        display: flex !important;
    }

}
@media (max-width: 550px) {
    .container{
        width: 95%;
    }
}