*{
    margin: 0;
    padding: 0;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white: #FFFFFF;
    --dark-blue: #333446;
    --light-blue: #7F8CAA;
    --light-green: #B8CFCE;
    --gray: #EAEFEF;
    --black: #000000;

    
}

#root{
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    font-family: sans-serif;
}





.container{
    margin: 0 auto;
    height: 100%;
}



.mobile{
    display: none !important;
}


.img-system{
    width: 15em;
}

.g-msg{
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%,0);
    padding: .3em 1em;
    border-radius: 5px;
    font-weight: bold;
    background: var(--gray);
    color: var(--dark-blue);
    opacity: 0;
}
.g-msg.open{
    opacity: 1;
}

.g-loading-page{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eaefefcf;
    width: 100vw;
    height: 100vh;
        display: none;

}
.g-loading-page.open {
    display: initial;
}
.g-loading-page > .g-loader{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}


@keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
    @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}





@media (min-width: 1000px) {
    .container{
        width: 900px;
    }
}
@media (max-width: 1000px) {
    .container{
        width: 768px;
    }
}
@media (max-width: 768px) {
    .container{
        width: 550px;
    }
    .pc{
        display: none !important;
    }
    
    .mobile{
        display: initial !important;
    }
    .mobile.flex{
        display: flex !important;
    }

}
@media (max-width: 550px) {
    .container{
        width: 95%;
    }
}